html{
  height: 100%;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
}
/* 공통클래스 스타일 */
.wrap{
  width: 1600px;
  margin: 0 auto;
}
/* 상단영역 */
header{
  position: absolute;
  width: 100%;
  z-index: 1;
}
header .wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1{
  
}
header h1 a{
  padding: 20px;
  display: block;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 25px;
  transition: all 1s;
}
header h1 a span{
  color: yellow;
  font-size: 17px;
  vertical-align: 3px;
}
header h1 a:hover{
  text-shadow: 1px 2px 5px white;
  }
header h1 a::before{
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url(img/home.svg);
  margin-right: 20px;
}
header>div>ul{
  display: flex;
  gap: 10px;
}
header > div > ul li{
  
  display: flex;
}
header > div > ul li:hover{
  font-size: 100%;
}
header a{
  color: #fff;
}
header>div>ul li a{
  display: block;
  line-height: 2;
  padding: 0 20px;
  transition: all 1s;
  border-radius: 20px;  
  text-shadow: 1px 2px 5px white;
}
header>div>ul li:nth-child(1) a:hover{
  background: #0054a6;
  font-size: 120%;
  text-shadow: 1px 2px 5px#0054a6;
}
header>div>ul li:nth-child(2) a:hover{
  background: #f15b29;
  font-size: 120%;
  text-shadow: 1px 2px 5px #f15b29;
}
header>div>ul li:nth-child(3) a:hover{
  background: #662b97;
  font-size: 120%;
  text-shadow: 1px 2px 5px #662b97;
}
header>div>ul li:nth-child(4) a:hover{
  background: #4dc3c3;
  font-size: 120%;
  text-shadow: 1px 2px 5px #4dc3c3;
}
header>div>ul li:nth-child(5) a:hover{
  background: #ed1c24;
  font-size: 120%;
  text-shadow: 1px 2px 5px #ed1c24;
}
/* 타이틀영역 */
div#title{
  height: 100%;
  background-color: #252830;
  color: #fff;
  position: relative;
}
div#title h1{
  text-shadow: 1px 2px 5px white;
}
div#title .wrap{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}
div#title .wrap div{
  
  position: relative;
  top: -50px;
}
div#title .wrap article{
  width: 372px;
  height: 430px;
  background-image: url(../img/myli.png);
  background-size: auto;
  background-color: whitesmoke;
}
div#title .wrap h2{
  background-color: rgba(0,0,0,0.4);
  font-family: 'Dongle', sans-serif;
  font-size: 28px;
  width: 514px;
  text-align: center;
  position: absolute;
  bottom: 121px;
  text-shadow: 1px 2px 5px black;
}
div#title .wrap a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  position: absolute;
  bottom: 30px;
  /*! left: calc(50% - 50px); */
  flex-direction: column;
  font-size: 0;
}
div#title .wrap a.scroll::before{
  content: "";
  border-left: 2px solid #fff;
  height: 17px;
  display: block;
}
div#title .wrap a.scroll::after{
  content: "";
  border: 2px solid #fff;
  height: 10px;
  display: block;
  width: 10px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(135deg);
  margin-top: -15px;
}
div#title .wrap a.scroll span{
  width: 2px;
  height: 2px;
  display: block;
  background-color: white;
  position: absolute;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}
div#title .wrap a.scroll span:hover{
  color: blue;
}
div#title .wrap a.scroll span:nth-child(1){
  left: 0;
  top: 0;
  animation-name: one;
  width: 0;
}
@keyframes one{
  100%{
    width: 100%;
  }
}
div#title .wrap a.scroll span:nth-child(2){
  right: 0;
  top: 0;
  animation-name: two;
  animation-delay: 0.5s;
  height: 0;
}
@keyframes two{
  100%{
    height: 100%;
  }
}
div#title .wrap a.scroll span:nth-child(3){
  right: 0;
  bottom: 0;
  animation-name: one;
  animation-delay: 1s;
  width: 0;
}
div#title .wrap a.scroll span:nth-child(4){
  left: 0;
  bottom: 0;
  animation-name: two;
  animation-delay: 1.5s;
  height: 0;
}
#about{
  
  /*! padding: 100px 0; */
  /*! height: 600px; */
}
#about .wrap{
  background-color: gainsboro;
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
  background-image: url(../img/about.jpg);
  background-size: auto;
}
#about .wrap h2{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: white;
  text-shadow: 1px 2px 5px aquamarine;
}
#about .wrap figure{
  
}
#about .wrap figure img{
  
}
#about .wrap figure figurecaption{
  
}
#about .wrap div{

  display: flex;
  gap: 300px;
}
#about .wrap div article{
  
}
#about .wrap div article:nth-child(1){
  background-size: cover;
  background-image: url(../img/my1.jpeg);
  width: 400px;
  height: 400px;
}
#about .wrap div article:nth-child(2){
  width: 400px;
  height: 400px;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .wrap div h3{
  
}
#about .wrap div p{
  
}
#about .wrap div ul{
  margin-top: 25px;
}
#about .wrap div ul:nth-child(1){
  margin-right: 80px;
}
#about .wrap div ul li{
  
  line-height: 2;
}
/* 스킬 */
#skill {

  height: 800px;
}
#skill .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*! text-align: center; */
  } 
#skill .wrap h2{
  padding-top: 150px;
}
/* 포트폴리오 */
#portfolio{
  padding-top: 100px;
  padding-bottom: 100px;
}
#portfolio .wrap{
  display: flex;
  justify-content: center;
}
#portfolio .wrap .contents{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 1260px;
  /*! margin: 0 auto; */
}
#portfolio .wrap .contents li{
  width: 300px;
  height: 300px;
  background-color: #eee;
  border-radius: 20px;
  text-align: center;
}


aside{
  position: fixed;
  bottom: 30px;
  right: 30px;
}
aside a.top{
  width: 25px;
  height: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 50px);
  font-size: 0px;
  background-image: url(../img/updown.png);
  background-size: contain;
}
@keyframes updown{
  0%{ /* 시작 */
    transform: translateY(0);
  }
  50%{ /* 중간 */
    transform: translateY(50px);
  }
  100%{ /* 끝 */
    transform: translateY(0px)
  }





