html{
  height: 100%;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
}
/* 공통클래스 스타일 */
.wrap{
  width: 1600px;
  margin: 0 auto;
}
/* 상단영역 */
header{
  position: absolute;
  width: 100%;
  z-index: 1;
}
header .wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1{
  
}
header h1 a{
  padding: 20px;
  display: block;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 30px;
  transition: all 1s;
  transform: scale(1.2);
}
header h1 a span{
  color: yellow;
  font-size: 20px;
  vertical-align: 3px;
  margin-right: 13px;
}
header h1 a:hover{
  text-shadow: 1px 2px 5px white;
  }

header>div>ul{
  display: flex;
  gap: 10px;
}
header > div > ul li{
  
  display: flex;
  font-weight: 1000;
}
header > div > ul li:hover{
  font-size: 100%;
}
header a{
  color: #fff;
}
header>div>ul li a{
  display: block;
  line-height: 2;
  padding: 0 20px;
  transition: all 0.5s;
  border-radius: 20px;  
  /*! text-shadow: 1px 2px 5px white; */
  font-size: 18px;
}
header>div>ul li:nth-child(1) a:hover{
  background: #0054a6;
  /*! text-shadow: 1px 2px 5px#0054a6; */
  transform: scale(1.1);
}
header>div>ul li:nth-child(2) a:hover{
  background: #f15b29;
  /*! font-size: 120%; */
  text-shadow: 1px 2px 5px #f15b29;
  transform: scale(1.1);
}
header>div>ul li:nth-child(3) a:hover{
  background: #662b97;
/*   font-size: 120%; */
  text-shadow: 1px 2px 5px #662b97;
  transform: scale(1.1);
}
header>div>ul li:nth-child(4) a:hover{
  background: #4dc3c3;
/*   font-size: 120%; */
/*   text-shadow: 1px 2px 5px #4dc3c3; */
  transform: scale(1.1);
}
header>div>ul li:nth-child(5) a:hover{
  background: #ed1c24;
/*   font-size: 120%; */
/*   text-shadow: 1px 2px 5px #ed1c24; */
  transform: scale(1.1);
}
/* 타이틀영역 */
div#title{
  height: 100%;
  background-color: #252830;
  color: #fff;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #131417), color-stop(0.51, #252830));
	background: -moz-linear-gradient(top, #131417 0%, #252830 51%);
	background: -webkit-linear-gradient(top,  #131417 0%, #252830 51%);
	background: -o-linear-gradient(top,  #131417 0%, #252830 51%);
	background: -ms-linear-gradient(top,  #131417 0%, #252830 51%);
	background: linear-gradient(top,  #131417 0%, #252830 51%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131417', endColorstr='#252830', gradientType=0);
  background-image: url(../img/bgtitle.png);
  background-size: cover;
  background-position: bottom;
  background-color: #242730;
}
div#title h1{
  text-shadow: 1px 2px 5px white;
}
div#title .wrap{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}
div#title .wrap div{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

div#title .wrap div::before{
  content: "WEB PUBLISHER";
  position: absolute;
  right: 0;
  top:-50px;
  font-size: 109px;
  color: #3b3131;
  font-weight: bold;
  letter-spacing: -8px;
  /*! z-index: 1; */
}
div#title .wrap article{
  width: 317px;
  height: 384px;
  background-image: url(../img/myli.png);
  background-size: 140%;
  background-color: whitesmoke;
  border-radius: 80px 20px;
  position: relative;
  opacity: 0.8;
}
div#title .wrap h2{
  width: 658px;
  text-align: left;
  bottom: 121px;
  text-shadow: 1px 2px 5px black;
  top: 50px;
  height: 120px;
  margin-left: -13%;
  transform: translateY(-58%);
  line-height: 1.4;
  font-weight: 400;
  color: #fff;
  font-size: 39px;
  margin-top: 23px;
}
div#title .wrap h2 span{
  
}
div#title .wrap a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  position: absolute;
  bottom: 30px;
  /*! left: calc(50% - 50px); */
  flex-direction: column;
  font-size: 0;
  animation: updown3;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes updown3{
  100%{
    bottom: 18px;
  } 
}
div#title .wrap a.scroll::before{
  content: "";
  border-left: 2px solid #fff;
  height: 17px;
  display: block;

}

div#title .wrap a.scroll::after{
  content: "";
  border: 2px solid #fff;
  height: 10px;
  display: block;
  width: 10px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(135deg);
  margin-top: -15px;
}

div#title .wrap a.scroll span{
  width: 2px;
  height: 2px;
  display: block;
  background-color: #717070;
  position: absolute;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}
div#title .wrap a.scroll span:hover{
  color: blue;
}
div#title .wrap a.scroll span:nth-child(1){
  left: 0;
  top: 0;
  animation-name: one;
  width: 0;
}
@keyframes one{
  100%{
    width: 100%;
  }
}
div#title .wrap a.scroll span:nth-child(2){
  right: 0;
  top: 0;
  animation-name: two;
  animation-delay: 0.5s;
  height: 0;
}
@keyframes two{
  100%{
    height: 100%;
  }
}
div#title .wrap a.scroll span:nth-child(3){
  right: 0;
  bottom: 0;
  animation-name: one;
  animation-delay: 1s;
  width: 0;
}
div#title .wrap a.scroll span:nth-child(4){
  left: 0;
  bottom: 0;
  animation-name: two;
  animation-delay: 1.5s;
  height: 0;
}
main{
  height: 400%;
}
main section{
  height: calc(100% / 4);
}
#about{
  /*! padding: 100px 0; */
  /*! height: 600px; */
  /*! background-image: url(../img/bgtitle2.jpg); */
  /*! background-size: auto; */
  background-color: #252830;
}
#about .wrap{
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
  gap: 74px;
}
#about .wrap h2{
  width: 100%;
  text-align: center;
  /*! margin-bottom: 30px; */
  color: white;
  text-shadow: 1px 2px 5px blue;
  font-size: 48px;
}
#about .wrap figure{
  
}
#about .wrap figure img{
  
}
#about .wrap figure figurecaption{
  
}
#about .wrap div{

  display: flex;
  gap: 91px;
}
#about .wrap div article{
  
}
#about .wrap div article:nth-child(1){
  background-size: cover;
  background-image: url(../img/my2.jpg);
  width: 400px;
  height: 400px;
  border-radius: 20% 5%;
}
#about .wrap div article:nth-child(2){
  width: auto;
  height: 400px;
  /*! background-color: blanchedalmond; */
  display: flex;
  justify-content: start;
  align-items: last baseline;
  flex-direction: column;
}
#about .wrap div article:nth-child(2) h3{
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
  letter-spacing: 4px;
}
#about .wrap div h3{
  
}
#about .wrap div p{
  
}
#about .wrap div ul{
}
#about .wrap div ul:nth-child(1){
  margin-right: 40px;
}
#about .wrap div ul.\#{
  
  display: flex;
  margin-top: 50px;
}
#about .wrap div ul.\# li{
  
  margin-right: 20px;
  font-weight: 1000;
  font-size: 30px;
}
#about .wrap div ul.\${
  display: flex;
}
#about .wrap div ul.\$ li{
  line-height: 2;
  color: #fff;
  font-size: 30px;
  font-weight: 1000;
  margin-right: 20px;
}
#about .wrap div ul li{
  line-height: 2;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
#about .wrap div ul li span{
  
  font-size: 15px;
  width: 60px;
  display: inline-block;
  color: #ccc;
}
#about .wrap div ul li:nth-child(6) span:nth-child(1){
  
  display: flex;
  justify-content: unset;
  width: ;
}
#about .wrap div ul li:nth-child(5){
  display: flex;
  align-items: start;
    gap:4px;
  margin-top:7px;
}
#about .wrap div ul li:nth-child(5) span:nth-child(2){
  width: auto;
  color: white;
  line-height: 1.4;
  display: inline-block;

}
#about .wrap div ul li:nth-child(6) span:nth-child(2){
  width: auto;
  color: white;
  line-height: 1.4;
  display: inline-block;
}
/* 스킬 */
#skill {

  background-color: #f4f4f4;
}
#skill .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*! text-align: center; */
  } 
#skill .wrap h2{
  padding-top: 150px;
  font-size: 48px;
}
/* 포트폴리오 */
#portfolio{
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio .wrap{
  display: flex;
  justify-content: center;
}
#portfolio h2{ 
  margin-top: -30px;
  font-size: 48px;
}
#portfolio .wrap .contents{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 1260px;
  /*! margin: 0 auto; */
}
#portfolio .wrap .contents li{
  width: 300px;
  height: 300px;
  background-color: #eee;
  border-radius: 20px;
  text-align: center;
}
  /* 컨텍트 */
  #contact{
  width: 100%;
  position: relative;
  background-image: url(../img/contact.jpg);
  color: white;
  background-size: cover;
  }
#contact .wrap{
  
}
#contact .wrap .inner{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  background-color: darkolivegreen;
  padding: 50px;
  opacity: 0.8;
}
#contact .wrap .inner .title{
  
  font-size: 36px;
  font-weight: 800;
  line-height: 1em;
  margin-bottom: 42px;
}
#contact .wrap .inner .name{
  font-size: 28px;
  margin-bottom: 42px;
  line-height: 1em;
}
#contact .wrap .inner .email{
  
  font-size: 28px;
  /*! margin-bottom: 42px; */
  line-height: 1.2em;
}
#contact .wrap .inner span{
  
}
#contact .wrap .inner .promise{
  
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}
#contact .footer {
  text-align: center;
  padding-top: 510px;
  font-size: 14px;
  font-weight: 300;
  bottom: 20px;
  position: relative;
}
#contact .footer p{
  padding-top: 200px;
}
aside{
  position: fixed;
  bottom: 30px;
  right: 30px;
}
aside a.top{
  width: 25px;
  height: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 50px);
  font-size: 0px;
  background-image: url(../img/updown.png);
  background-size: contain;
}
@keyframes updown{
  0%{ /* 시작 */
    transform: translateY(0);
  }
  50%{ /* 중간 */
    transform: translateY(50px);
  }
  100%{ /* 끝 */
    transform: translateY(0px)
  }




