/*main-heading-wrapper {
    position: relative;
    margin-top: 76px;
    margin-bottom: 76px;
  }
.main-heading-wrapper h1{
    position: relative;
    z-index: 1;
    margin-right: 0px;
    margin-left: 0px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 99px;
    line-height: 87px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .main-heading-wrapper .without-code {
    color: white;
  }
*/